/* 粉糖粒子 Bootstrap 样式表 */
/* html */
body {
    background: #f6f6f6;
    font-family: sans-serif, monospace;
    font-size: 1em;
    font-style: normal;
    color: #212121;
}
a {
    color: #07689f;
    text-decoration:none;
    font-weight: bolder;
}
/* Bootstrap */
.nav-link {
    color: #07689f;
    font-weight: lighter;
}
.container {
    background-color: #FAFAFA;
}
.card {
    background-color: #F5F5F5;
}
.badge {
    background-color: #9E9E9E;
}
.btn {
    font-weight: bolder;
}

/* PinkCandy */
.galleryBox {
    background-color: #ECEFF1;
}
.postBox {
    background-color: #ECEFF1;
}
.webImpression {
    background-color: #E1F5FE;
    font-size: 2em;
}
.webImpression img {width: 50%;}
.webMenu {
    background-color: #B3E5FC;
    color: #4FC3F7;
}
.tags {
    background-color: #64B5F6;
}
.squareBox {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: 100%;
    text-align: center;
}
.squareBox img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    background-size: cover;
    background-position: center; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.backImageBox {
    background-color: FAFAFA;
    min-height: 10em;
    max-height: 20em;
    overflow: hidden;
    vertical-align: middle;
    transition: all 1s;
}
.backImageBox img {width: 100%;}
.backImageBox:hover {
    max-height: 100em;
}