<div class="screen">
    <div class="operateBox">
        <div class="contentBox">
            <div class="information">
                粉糖粒子许可证
            </div>
            <div class="infoBox">
                <a href="/resource/docs/PINKCANDY_license.pdf">
                    <img src="/resource/svg/logo.svg" alt="logo.svg" width="25%">
                </a>
                <h1>粉糖粒子版权许可证</h1>
                版本 2024.6
                <h2>描述</h2>
                <p>
                    粉糖粒子版权许可证是粉糖粒子周周对作者作品权利制定的通用授权，是一份专有许可证。
                    其制定初衷是为了扩大作品使用者的权限，不为严格的版权所限制，鼓励每一个作者及传播者将作品免费自由共享。
                    该许可证允许作品以非商业目的地自由使用，同时保证作者的著作权不受侵害。
                    任何单位和个人都可以使用此许可证保护作品。
                </p>
                <h2>声明</h2>
                <p>
                    1 此版权许可证遵守中华人民共和国著作权法
                    2 著作权所有者对您因使用作品造成的任何直接损失或间接损失不负任何责任
                    3 原始著作权所有者指的是作品首次被创造出来之作者
                    4 本许可证保护的作品包括：文字、口述、音乐、表演、美术、多媒体、设计、计算机软件、项目等任何有作品特征的智力成果    
                </p>
                <h2>许可条例</h2>
                <p>
                    1 只要著作权所有者在作品中声明此许可证，那么本授权即适用，被授权者称为"您"。
                    2 您可以展示、保存、复制、传播、或者再次创作、修改作品的任何部分。
                    3 您可以自由地对作品进行复制、复印、分发、仿制、或作为素材模板用于学习研究、开发、欣赏、分享等目的。
                    4 若作品被修改，您可以为自己署名，但必须同时署名原始著作权所有者，并对修改的部分作出适当说明。
                    5 若您没有参与修改作品，您不得为自己署名。
                    6 您必须保证作品不能封闭，而是可再次创作、修改。
                    7 只要作品被修改，您就需要放置此许可证。
                    8 作品及衍生作品其版权仍归属原始著作权所有者，作品中由您独立完成的部分版权除外。
                    9 您不得将此作品用于任何商业营利目的，除非您得到了原始著作权所有者的允许。
                    10 您可以为您修改的成果添加额外的许可条例，但不能与上述九条相抵触。    
                </p>
                以上为粉糖粒子许可证的全部内容
                <a href="/resource/docs/PINKCANDY_license.pdf">下载许可证</a>
            </div>  
        </div>
    </div>
    <div class="txtBox">
        <h1>让世界变成毛绒绒的形状xwx</h1>
        <img src="./resource/img/wolf.png" alt="wolf" width="25%"><img src="./resource/img/fox.png" alt="fox" width="25%">
    </div>
    <div class="txtBox">
        <h1>PINKCANDY</h1>
        <h2>粉糖粒子-幻想动物画廊</h2>
        <p>
            恭喜发现互联网中的这处角落！<br>
            本网站无广告和任何商业活动，为非盈利兴趣网站，<br>
            主要提供各种毛绒绒艺术作品的发布和交流分享，<br>
            让我们堆积更多的毛绒绒吧！<br>
        </p>
    </div>
    <div class="txtBox">
        <h2>粉糖粒子规则</h2>
        <p>
            1 请遵守我国的基本法律和道德规范<br>
            2 发布画廊时不要上传18+、恐怖、猎奇、政治相关等敏感信息，一经发现可作出删除、删号等操作。<br>
            3 不要网络攻击其他小兽<br>
            4 不要一次性发送太多或无意义内容<br>
            5 不要添加和贴上错误的标签<br>
            6 由于是幻想动物主题网站，所以请不要发布与毛绒绒无关的图像。<br>

            免责声明：<br>
            粉糖粒子提供的任何信息及产生的效应由其发布者负责，
            本网站不提供任何保证也不承担任何法律责任。<br>
        </p>
        <h2>什么是毛绒绒？</h2>
        <p>
            毛绒绒是指由各种除人类以外的动物为主要原型创作出来的角色形象。<br>
            喜爱毛绒绒的群体称为兽控，兽迷，“福瑞控”等。<br>
            <br>
            毛绒绒的兽化程度可以细分为以下等级：<br>
            - 人类<br>
            1 仅有耳朵和尾巴作为装饰<br>
            2 更浓密的动物毛发<br>
            3 通常的兽人<br>
            4 以动物骨骼为基础<br>
            5 有思想的动物<br>
            - 动物<br>
        </p>
        <h2>本项目工作组</h2>
        <p>
            QQ群751711878<br>
            欢迎感兴趣的小兽加入此项目<br>
            总管理兽：粉糖粒子周周<br>
            方案设计：粉糖粒子周周<br>
            美术设计：粉糖粒子周周<br>
            计算机前端：粉糖粒子周周<br>
            计算机后端：粉糖粒子周周<br>
            代码测试：粉糖粒子周周<br>
            数据库和资源管理：粉糖粒子周周<br>
            经济支持：粉糖粒子周周<br>
        </p>
        <h2>赞助粉糖粒子</h2>
        <p>
            赞助不会获得任何特权或者效果，但可以帮助粉糖粒子有继续开发维护的动力。<br>
            <img src="./resource/img/donate.png" alt="donate" width="50%"><br>
        </p>
        <h2>站长周周</h2>
        <p>
            <a href="https://github.com/ZhouZhou1235">周周的gitHub</a><br>
            <a href="https://space.bilibili.com/63629388?spm_id_from=333.1007.0.0">周周的B站主页</a><br>
            如有问题请发到pinkcandyzhou@qq.com<br>
            版权所有 粉糖粒子周周 保留所有权利<br>
            Copyright © 2024 PinkCandyZhou. All rights reserved.<br>
        </p>
    </div>
</div>