<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>ZZWW粉糖粒子</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="./resourse/img/logoICO.ico" type="img/x-icon">
</head>
<body>
    <!-- ZZWW -->
    <h1>粉糖粒子2.0</h1>
    <h2>让世界变成四脚兽的样子</h2>
    <p>pinkcandyzhou</p>
</body>
</html>