<div class="screen">
    <div class="infoBox">
        <h1><span id="name"></span></h1>
        <h2><span id="more"></span></h2>
        <p><span id="info"></span></p>
        <span id="watch"></span>
        <p style="display: flex;">
            <span id="watchTheUser"></span>|
            <span id="seeWatch"></span>|
            <span id="seeStar"></span>|
            <span id="unWatch" onclick="return confirm('确定取消关注吗？')"></span>
        </p>
    </div>
    <span id="userBox"></span>
</div>
<script type="text/javascript">
    var username = `<?php echo "$furryUser";?>`;
    txt = "./editUser.php?username="+username;
    var name = `<?php echo "$name";?>`;
    document.getElementById("name").innerHTML=name;
    var info = `<?php echo "$info";?>`;
    document.getElementById("info").innerHTML=info;
    var more = `<?php echo "$furryUser $sex $sort";?>`;
    document.getElementById("more").innerHTML=more;
    var watch = `<?php echo "$outStr";?>`;
    document.getElementById("watch").innerHTML=watch;
    {
        var watchTheUser = document.createElement("a");
        var link = document.createTextNode("关注");
        watchTheUser.appendChild(link);
        watchTheUser.href = "./running/mark.php?todo=2&username="+username;
        document.getElementById("watchTheUser").appendChild(watchTheUser);
    }
    {
        var seeWatch = document.createElement("a");
        var link = document.createTextNode("查看关注");
        seeWatch.appendChild(link);
        seeWatch.href = "watch.php?username="+username;
        document.getElementById("seeWatch").appendChild(seeWatch);
    }
    {
        var seeStar = document.createElement("a");
        var link = document.createTextNode("查看收藏");
        seeStar.appendChild(link);
        seeStar.href = "star.php?username="+username;
        document.getElementById("seeStar").appendChild(seeStar);
    }
    {
        var unWatch = document.createElement("a");
        var link = document.createTextNode("取消关注");
        unWatch.appendChild(link);
        unWatch.href = "./running/delete.php?todo=5&username="+username;
        document.getElementById("unWatch").appendChild(unWatch);
    }

    var userBox = `<?php echo "$userBox";?>`;
    document.getElementById("userBox").innerHTML=userBox;
</script>