<div class="screen">
    <div class="txtBox">
        <h1>标签墙纸</h1>
    </div>
    <div class="formBox">
        <form action="./running/send.php" method="post">
            <input type="text" name="galleryId" placeholder="画廊ID">
            <input type="text" name="tags" placeholder="标签">
            <input type="hidden" name="todo" value="3">
            <button type="submit">贴标签</button>
        </form>
    </div>
    <div class="formBox">
        <form action="./running/delete.php" method="post">
            <input type="text" name="galleryId" placeholder="画廊ID">
            <input type="text" name="tags" placeholder="标签">
            <input type="hidden" name="todo" value="4">
            <button type="submit">撕标签</button>
        </form>
    </div>
    <div class="txtBox">
        <h1>使用说明</h1>
        <h2>为画廊添加合适的标签可以更好的分类搜索！</h2>
        <p>
            指定画廊ID，然后输入要添加/撕下的标签，如有多个则用空格隔开。所有小兽均可编辑。<br>
            例：<br>
            画廊ID：1 标签：狗狗世界 犬科 粉糖粒子周周<br>
        </p>
    </div>
</div>